<div class="d-flex flex-column border border-secondary gap-2 p-2 rounded w-25 mx-auto mt-5">
  <input #title class="form-control" placeholder="Title..." (focus)="closeAlert()" />
  <input #description class="form-control" placeholder="Desc..." (focus)="closeAlert()" />
  <button (click)="addTodo(title.value, description.value)" class="btn btn-primary mt-5">Add</button>
</div>

<div class="alert alert-danger fade show" role="alert" *ngIf="errorMessage">
  <strong>Oh snap!</strong>
  <p class="alert-heading">{{ errorMessage }}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeAlert()"></button>
</div>

<div class="mt-4 mx-auto text-center">
  <ul class="list-group" *ngIf="todos.length > 0; else noTodos;">
    <ng-container *ngFor="let todo of todos; index as i">
        <li class="list-group-item d-flex gap-2 align-items-center" *ngIf="!todo.isCompleted">
          <span>{{ i + 1}}.</span>
          <span>{{ todo.title }}</span>
          <span>{{ todo.description }}</span>
          <input type="checkbox" [checked]="todo.isCompleted" class="form-check-input" />
          <button class="btn btn-secondary" (change)="completeTodo(todo)">Complete todo</button>
        </li>
    </ng-container>
  </ul>

  <ng-template #noTodos>
    <h2 class="fs-6">No todos found</h2>
  </ng-template>
</div>
